.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-item-line-item-fields-field-options-picked-er-und label:after {
    content: "";
}
#pop-out-and-pick-form .form-item {
    margin-bottom: 0em;
    margin-top: 0em;
}
#pop-out-and-pick-form label .group-label {
    display: inline-block;
    vertical-align: top;
    min-width: 15%;
}
#pop-out-and-pick-form span.select {
    color: #2698F2;
    display: inline-block;
    list-style-image: inherit;
    padding-left: 20px;
    width: 60%;
}
#pop-out-and-pick-form label .group-price {
    display: inline-block;
    vertical-align: top;
}
#pop-out-and-pick-form label .group-label:after {
  content:':';
}
